@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Container principal */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.form-container {
    padding-left: 5rem;
    padding-right: 5rem;
    width: 90%;
}

.form-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 3vh ;
    color: #032656;
}

.form{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 75vh;
    gap: 1rem;
}

.form-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    flex-wrap: nowrap;
    align-content: flex-start;
    /* padding: 2rem; */
}

.form-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-content: flex-end;
    justify-content: flex-start;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

label, select {
  margin-bottom: 1vh;
  font-size: 1.8vh;
  color: #2d3436;
}

input, select, textarea {
  padding: 0.5rem;
  border: 0.1rem solid #b2bec3;
  border-radius: 0.5rem;
  font-size: 1.8vh;
  color: #2d3436;
  outline: none;
  transition: 0.2s;
  width: 95%;
}

select{
    width: 97%;
}

.btn-submit:hover {
  background-color: #3a3de0;
}

input:focus, select:focus, textarea:focus {
  border-color: #4a4df6;
  box-shadow: 0 0 3px #4a4df6;
}

/* Estilo melhorado para o textarea */
textarea {
    resize: none;
    min-height: 20vh;
    padding: 10px 12px;
    font-size: 1.8vh;
    border-radius: 8px;
    border: 1px solid #cbd1dc;
    background: #fff;
    color: #2d3436;
    transition: all 0.2s ease-in-out;
    font-family: 'Montserrat', sans-serif;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05);
}

/* Placeholder mais suave */
textarea::placeholder {
  color: #a0a7b5;
}

/* Efeito ao focar */
textarea:focus {
  border-color: #4a4df6;
  box-shadow: 0 0 4px rgba(74, 77, 246, 0.3);
  outline: none;
  background: #f9f9ff;
}

.form-button {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.btn-submit {
  background-color: #4a4df6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  width: 40%;
}

.btn-submit:hover {
  background-color: #3a3de0;
}