@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Container principal */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-title {
    text-align: start;
    font-size: 2.5rem;
    font-weight: 700;
    color: #0d2345;
    margin-bottom: 32px;
}

.start-section {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

.start-cards {
  display: flex;
  gap: 10rem;
  margin-top: 16px;
}

.start-card {
  display: flex;
  background: #fff;
  border: 2px solid #0A2342;
  border-radius: 12px;
  width: 100%;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.start-card:hover {
  box-shadow: 0 24px 24px rgba(0,0,0,0.08);
}

.start-card-icon {
  font-size: 40px;
  color: #0A2342;
  margin-bottom: 12px;
}

.start-card-text {
  font-weight: 700;
  color: #0A2342;
  font-size: 18px;
  text-align: center;
}

.start-card-primary {
  background: #5C5CFF;
  border: none;
}

.start-card-primary .start-card-icon,
.start-card-primary .start-card-text {
  color: #fff;
}


