@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Container principal */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-title {
    text-align: start;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ff0000;
    margin-bottom: 2rem;
}

.start-section {
    width: 90%;
    margin: 2.5rem auto;
    text-align: center;
}

.start-cards {
  display: flex;
  gap: 10rem;
  margin-top: 1rem;
}

.start-card {
  display: flex;
  background: #fff;
  border: 2px solid #0A2342;
  border-radius: 0.75rem;
  width: 100%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.start-card:hover {
  box-shadow: 0 4px 64px rgba(0,0,0,0.08);
  border-color: #5C5CFF;
}

.start-card:active {
  box-shadow: 0 8px 8px rgba(0,0,0,0.10);
  border-color: #0A2342;
}

.start-card-icon {
  font-size: 2.5rem;
  color: #0A2342;
  margin-bottom: 0.75rem;
}

.start-card-text {
  font-weight: 700;
  color: #0A2342;
  font-size: 1.125rem;
  text-align: center;
}

.start-card-primary {
  background: #fff;
  border: 2px solid #0A2342;
}

.start-card-primary .start-card-icon,
.start-card-primary .start-card-text {
  color: #0A2342;
}

.indicadores-section {
  width: 90%;
  height: 60vh;
}
.indicadores-title {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 700;
  color: #0d2345;
  margin-bottom: 1.5rem;
}
.indicadores-cards {
  display: flex;
  gap: 3rem;
}
.indicador-card {
  background: #dbdbdb;
  border-radius: 0.5rem;
  height: 35vh;
  display: block;
}
.indicador-card-large {
  flex: 2;
}
.indicador-card-small {
  flex: 1;
}


